.Card {
    min-width: 300px;
    min-height: 122px;
    background-color: white;
    padding: 20px 60px 40px;
    margin-left: 170px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 1px 1px 2px rgba(0,0,0,.7);
    
    &.centerItens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 60px;
    }

    #cookie {
        position: absolute;
        width: 220px;
        top: -30px;
        left: -170px;
    }
}